.container
  .columns.twelve
    .row
      %h1 About Us

    .row
      %h4 We are J Cobb Designs

    .row
      %h5 James, Jacqui, Trinity, Rhema and Victory Cobb

    .row
      J Cobb Designs started November, 2009. Trinity, my oldest daughter, noticed a spoon bracelet our friend purchased from a boutique in our hometown. After a nudge from my wife Jacqui, and her grannies old silver spoon, we had our first of many designs to come, complete. Trinity was soon sporting this shiny new bracelet that I had handcrafted myself in our garage. After searching for new business opportunities due to a slow economy, we decided to look into jewelry design.  We were praying for different opportunities, never thinking our answered prayer would be something as simple as a spoon. 
    .row
      The inspiration and dream of J Cobb Designs is our faith based, "Feed My People" line. We take spoons, knives and forks, a God given talent, and with much handcrafted hard work, we produce artisan pieces in three lines. Our designs are uniquely  inspired pieces of wearable art. Our goal is to grow into a community of artists that have the opportunity to find and express their hidden, God given talents. We feel this will produce new and unique pieces that feed the needs of people that are searching for gifts, or to just add to their existing jewelry collection. We are honored to share our witness, inspiration, and these gifts with you.
