.container
  .columns.twelve
    %h1 Retailers
    %p

    .row
      .six.columns.alpha
        %h5 Chloe's
        3157 Cahaba Heights Rd
        %br
        Vestavia, AL 35243
        %br
        Phone: 205-874-6430

      .six.columns.omega
        %h5 Leaf & Petal at The Birmingham Botanical Gardens
        %br
        2612 Lane Park Road
        %br
        Birmingham, AL 35223
        %br
        Phone: (205)877-3030

    .row
      .six.columns.alpha
        %h5 Beverly Ruff Antiques and Lines
        %br
        2417 Canterbury Rd
        %br
        Mountain Brook, AL 35223
        %br
        Phone: (205)871-7872

      .six.columns.omega
        %h5 Monkey Bizniss
        %br
        1916 A Cogswell Ave.
        %br
        Pell City, AL.35125
        %br
        Phone  : (205) 884-2230

    .row
      .six.columns.alpha
        %h5 Plain Jane Gifts,Inc.
        %br
        270 Doug Baker Blvd. Suite 600
        Birmingham, AL 35242
        %br
        Phone: (205) 991-1995

      .six.columns.omega
        %h5 Muse (inspired fashion)
        %br
        123 2nd Ave North
        %br
        Nashville, TN 37201
        %br
        Phone: (615)730-7381

    .row
      .six.columns.alpha
        %h5 G g's Golden Gypsies Gifts & Etc.
        %br
        134 Main Street
        %br
        Spring, TX 77373
        %br
        Phone: (281)288-0005

      .six.columns.omega
        %h5 Wrapsody of Auburn
        %br
        112 N. College Street
        %br
        Auburn, AL. 36830
        %br
        Phone: (334) 887-7447

    .row
      .six.columns.alpha
        %h5 Wrapsody of Hoover
        %br
        161 Main Street, Suite 127
        %br
        Hoover, AL. 35244
        %br
        Phone: (205)989-7277

      .six.columns.omega
        %h5 Everyday Indulgence
        %br
        2111 University Blvd.
        %br
        Tuscaloosa, AL 35401
        %br
        Phone: (205)759-5070

    .row
      .six.columns.alpha
        %h5 The Boot Store
        %br
        25251 Hwy 98
        %br
        Daphne, Al. 36526
        %br
        Phone: (251)621-1583

      .six.columns.omega
        %h5 Robbie's of Fayette
        %br
        132 Temple Ave. North
        %br
        Fayette, AL 35555
        %br
        Phone: (205) 932-4451

    .row
      .six.columns.alpha
        %h5 MIA MODA Boutique
        %br
        700 Montgomery Highway
        %br
        Birmingham, AL 35126
        %br
        Phone: (205)824-9441

      .six.columns.omega
        %h5 Fine Things
        %br
        1942 North Brindlee Mountain Park
        %br
        Arab, AL 35016
        %br
        Phone: (256)586-5685

    .row
      .six.columns.alpha
        %h5 Mosley Monogram
        %br
        444 Gunter Avenue
        %br
        Guntersville, AL.
        %br
        Phone: (205)582-3640

      .six.columns.omega
        %h5 The Straw Hat
        %br
        418 Main St
        %br
        Trussville, AL 35173
        %br
        Phone: (205)661-0661

    .row
      .six.columns.alpha
        %h5 Penelope  (Simply Luxe)
        %br
        328 Charles St.
        %br
        New Orleans, LA. 70130
        %br
        Phone: (504)522-Luxe

      .six.columns.omega
        %h5 Lynn's Boutique in Opry Mills Mall
        %br
        433 Opry Mills Mall Dr.
        %br
        Nashville, TN. 37214

    .row
      .six.columns.alpha
        %h5 Dragonfly Boutique
        %br
        19250 W. Lake Houston Pkwy. Suite J
        %br
        Humble, TX 77346
        %br
        Phone: (281)973-4473

      .six.columns.omega
        %h5 Cobblestone Cottage
        %br
        23701 Cinco Ranch Blvd.
        %br
        Katy, TX. 77494
        %br
        Phone: (281)693-4080

    .row
      .six.columns.alpha
        %h5 Western Wear and Artifacts
        %br
        In the Village at Leiper's Form
        %br
        4208 Old Hillsboro Road, Suite 1
        %br
        Franklin, TN 37064
        %br
        phone: (615)628-8139

      .six.columns.omega
        %h5 Glitz & Glamour
        %br
        2552 N Hills St # B
        %br
        Meridian, MS
        %br
        Phone: (601)485-9050

    .row
      .six.columns.alpha
        %h5 The Cats Meow
        %br
        395-B Fairhope Ave.
        %br
        Fairhope, AL. 36532
        %br
        Phone: (251)990-0061

      .six.columns.omega
        %h5 Blue Mermaid
        %br
        25405 Perdido Beach Blvd.
        %br
        Orange Beach, AL. 36561
        %br
        Phone: (251)406-9765

